$dark-purple: #1E062D;
$pink: #E31CB8;
$purple: #9A1FE2;
$blue: #31CEFF;
$dark-blue: #6120FE;
$white: #FFFFFF;
$yellow: #FFE600;

$font-press-start-2p: 'Press Start 2P', sans-serif;
$font-rubick: 'Rubick', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 575.98px,
  md: 767.98px,
  lg: 991.98px,
  xl: 1365.98px
);
