@import 'variables';
@import 'reset.css';
@import 'vendor';
@import 'blocks';

body {
  color: $white;
  background-color: $dark-purple;
  font-family: $font-rubick;
  font-size: 22px;
  overflow-x: hidden;

  &.disableScroll {
    overflow-y: hidden;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 16px 80px 16px;

  @media (max-width: map-get($grid-breakpoints, 'xl')) {
    padding: 120px 16px 40px 16px;
  }
  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    padding: 120px 16px 0 16px;
  }

  .section__content {
    display: flex;
    position: relative;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-press-start-2p;
  color: $yellow;
  text-shadow: 2px 2px 0 $pink;
  font-weight: normal;
}

h2 {
  font-size: 52px;
  line-height: 60px;
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: map-get($grid-breakpoints, 'xl')) {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 40px;
  }
  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
  }
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 30px;
    line-height: 38px;
  }
}

h3 {
  font-size: 16px;
  line-height: 24px;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 14px;
    line-height: 22px;
  }
}

p,
ul li {
  font-size: 22px;
  line-height: 28px;

  @media (max-width: map-get($grid-breakpoints, 'xl')) {
    font-size: 22px;
    line-height: 28px;
  }
  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 20px;
    line-height: 26px;
  }
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 16px;
    line-height: 18px;
  }
}

a {
  color: $white;
  text-decoration: none;
}

.pixelBorder {
  position: relative;

  div {
    display: flex;
    align-items: center;

    p {
      position: relative;
      z-index: 5;
    }
  }

  button {
    position: relative;
    font-family: $font-press-start-2p;
    color: $white;
    background-color: transparent;
    text-transform: uppercase;
    border: 0;
    z-index: 5;
  }

  .background {
    position: absolute;
    left: 0;

    &:before {
      content: "";
      cursor: pointer;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &:after {
      content: "";
      cursor: pointer;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}
